# Get some of the profanity words of different degree(here we choose 3) and save in one csv file with its degree

In [1]:
# import required module
import pandas as pd

In [2]:
# load the text file in csv format 
df = pd.read_csv("slug_words.txt")
df.head()

,text,canonical_form_1,canonical_form_2,canonical_form_3,category_1,category_2,category_3,severity_rating,severity_description
0,69,69,NaN,NaN,sexual anatomy / sexual acts,NaN,NaN,1.0,Mild
1,@55,ass,NaN,NaN,sexual anatomy / sexual acts,NaN,NaN,1.0,Mild
2,@ssfcker,fuck,ass,NaN,sexual anatomy / sexual acts,sexual orientation / gender,NaN,2.8,Severe
3,@ssfucker,fuck,ass,NaN,sexual anatomy / sexual acts,sexual orientation / gender,NaN,2.8,Severe
4,@ssfvcker,fuck,ass,NaN,sexual anatomy / sexual acts,sexual orientation / gender,NaN,2.4,Strong

In [3]:
# check for null values 
df.isnull().count()

text                    1598
canonical_form_1        1598
canonical_form_2        1598
canonical_form_3        1598
category_1              1598
category_2              1598
category_3              1598
severity_rating         1598
severity_description    1598
dtype: int64

In [4]:
# check dimentions of file 
df.shape

(1598, 9)

In [5]:
# drop unwanted columns 
df = df[['text', 'category_1', 'severity_description']]
df

                 text                    category_1 severity_description
0                  69  sexual anatomy / sexual acts                 Mild
1                 @55  sexual anatomy / sexual acts                 Mild
2            @ssfcker  sexual anatomy / sexual acts               Severe
3           @ssfucker  sexual anatomy / sexual acts               Severe
4           @ssfvcker  sexual anatomy / sexual acts               Strong
...               ...                           ...                  ...
1593            wnker  sexual anatomy / sexual acts                 Mild
1594              wop         racial / ethnic slurs               Strong
1595          wophead         racial / ethnic slurs               Strong
1596  zip in the wire         racial / ethnic slurs                 Mild
1597       zipperhead         racial / ethnic slurs               Strong

[1598 rows x 3 columns]

In [6]:
# now filter thoe rows which contain the "racial" in the category_1 as we need only those words only 
df = df[df['category_1'].str.contains("racial", case=True)]
df

                 text             category_1 severity_description
19              abbie  racial / ethnic slurs                 Mild
20              abeed  racial / ethnic slurs               Strong
21               aboe  racial / ethnic slurs                 Mild
140        bean queen  racial / ethnic slurs               Strong
141            beaner  racial / ethnic slurs               Severe
...               ...                    ...                  ...
1589           wigger  racial / ethnic slurs               Severe
1594              wop  racial / ethnic slurs               Strong
1595          wophead  racial / ethnic slurs               Strong
1596  zip in the wire  racial / ethnic slurs                 Mild
1597       zipperhead  racial / ethnic slurs               Strong

[192 rows x 3 columns]

In [7]:
# check the count of each category(total  3)
df.severity_description.value_counts()

Severe    150
Strong     35
Mild        7
Name: severity_description, dtype: int64

In [8]:
# Mild_list = df[df['severity_description']=='Mild']['text'].to_list()
# Severe_list = df[df['severity_description']=='Severe']['text'].to_list()
# Strong_list = df[df['severity_description']=='Strong']['text'].to_list()

# assert sum([len(Mild_list), len(Severe_list), len(Strong_list)]) == df.shape[0]

In [9]:
# remove text cotnain more than one words 
df = df[~df['text'].str.contains(" ", case = False)]
df

            text             category_1 severity_description
19         abbie  racial / ethnic slurs                 Mild
20         abeed  racial / ethnic slurs               Strong
21          aboe  racial / ethnic slurs                 Mild
141       beaner  racial / ethnic slurs               Severe
142      beaners  racial / ethnic slurs               Severe
...          ...                    ...                  ...
1579    wetbacks  racial / ethnic slurs               Severe
1589      wigger  racial / ethnic slurs               Severe
1594         wop  racial / ethnic slurs               Strong
1595     wophead  racial / ethnic slurs               Strong
1597  zipperhead  racial / ethnic slurs               Strong

[175 rows x 3 columns]

In [10]:
# finalize the csv file ith 2 columns only 
df= df[['text', 'severity_description']]
df.shape

(175, 2)

In [11]:
# export it for later use
df.to_csv("racial_word.csv", index = False)

###  reference link: - 
https://github.com/surge-ai/profanity/blob/main/profanity_en.csv